<div class="csvFile-wrapper">
    <div class="project-search-bar">
        <input type="text" id="project-search-bar-input" placeholder="Search items here..." onkeyup="search()">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class='table-container' id="table-container">
        <table style="width:100%">
            <thead>
                <tr>
                    <% for (const [key, value] of Object.entries(csvData[0])) { %>
                       <th><%= key %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody id="table-body">
                <% if(csvData.length > 100){%>
                    csvData.length = 100;
                <%}%>
                <% for(let i=0;i<csvData.length;i++) { %>
                    <tr>
                        <% for(const [key, value] of Object.entries(csvData[i])) { %>
                            <td class="col-md-2"><%= value %></td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<script src="/Js/csvFile.js"></script>