<div class="wrapper">
    <div class="upload-section">
        <form action="#">
            <input type="file" id="file-upload-input" hidden>
            <i class="fa-solid fa-cloud-arrow-up"></i>
            <p>Browse CSV File to Upload</p>
        </form>
    </div>

    <div class="show-files">
        <div class="csv-files">
            <div class="csv-files-details">
                <i class="fa-solid fa-file-lines"></i>
                <p>student.csv</p>
                <span id="uploading">Uploading ...</span>
                <span id="percentage">50%</span>
            </div>
            <div class="csv-file-others">
                <div class="csv-file-size">2.24 MB</div>
                <div class="csv-file-download">
                    <div class="csv-file-process"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="/Js/home.js"></script>