<div class="wrapper">
    <!-- upload section -->
    <div class="upload-section">
        <form action="/file/upload" method="POST" enctype="multipart/form-data">
            <button type="submit"><i class="fa-solid fa-cloud-arrow-up" id="upload-button"></i></button>
            <p>Browse CSV File to Upload</p>
            <input type="file" id="file-upload-input" accept=".csv" name="csv_file" required>
        </form>
    </div>
    <!-- upload section end -->
    <!-- show file  -->
    <div class="show-files">
        <!-- csv-files -->
        <% for(let i=0;i<filenames.length;i++){%>
            <div class="csv-files">
                <div class="csv-files-details">
                    <i class="fa-solid fa-file-lines"></i>
                    <p>
                        <%= filenames[i].substring(0,10) + ".csv" %>
                    </p>
                </div>
                <div class="csv-files-others">
                    <div class="csv-file-open">
                        <a href="/file/open/<%= i %>"><i class="fa-solid fa-folder-open"></i></a>
                    </div>
                    <div class="csv-files-delete">
                        <a href="/file/delete/<%= i %>"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <!-- csv-files end-->
        <% } %>
    </div>
    <!-- show file end -->
</div>

<script src="/Js/home.js"></script>